-e .
django>=1.8,<1.9
djangorestframework>=3.0.5,<4
dj-database-url==0.4.1
factory-boy==2.8.1
feincms==1.12.1
flake8==2.5.4
flake8-import-order==0.7
mock==2.0.0
psycopg2==2.6.1
py==1.4.31
pytest==2.9.1
pytest-cov==2.2.1
pytest-django==2.9.1
pytest-pythonpath==0.7
