-e .
dj-database-url==0.3.0
factory-boy==2.4.1
feincms==1.10.0
flake8==2.2.5
flake8-import-order==0.5.3
mock==1.0.1
psycopg2==2.5.3
py==1.4.23
pytest==2.6.1
pytest-cov==1.8.0
pytest-django==2.6.2
pytest-pythonpath==0.3.0
